<section class="d-flex flex-column justify-content-center align-items-center">


  <div class="d-flex flex-column justify-content-center align-items-center" id="card">
    <div class="d-flex flex-column justify-content-center align-items-center" id="inner">

      <div class="bg-white d-flex justify-content-center align-items-center" id="front">

        <div id="nn">
          <app-nn></app-nn>
        </div>

      </div>
      <div class=" bg-white p-3 fs-1 d-flex flex-column  justify-content-center align-items-center" id="back">




      </div>
    </div>
    <form action="https://www.duckduckgo.com/" id="duckduckgo" method="get">

      <p><input autofocus autocomplete="off" id="duckduckgo-input" name="q" placeholder="  private search..."
          type="text" />
      </p>
    </form>
  </div>



</section>