<section class="d-flex flex-column justify-content-center align-items-center">


  <div class="d-flex flex-column justify-content-center align-items-center" id="card">
    <div class="d-flex flex-column justify-content-center align-items-center" id="inner">

      <div class="bg-white d-flex justify-content-center align-items-center pb-5" id="front">
        <div id="nn">
          <app-nn></app-nn>
        </div>
        <h1 class="bg-dark p-2" id="name"> Tim Le Large </h1>
      </div>
    </div>

  </div>
  <form action="https://www.duckduckgo.com/" id="duckduckgo" method="get">

    <p><input autocomplete="off" id="duckduckgo-input" name="q" placeholder="  private search..." type="text" /></p>
  </form>


</section>