#fullpage {
  div:nth-of-type(1) {
    background-color: #45942a;
  }

  div:nth-of-type(2) {
    background-color: #3657db;
  }
  div:nth-of-type(3) {
    background-color: #e4942a;
  }
  div:nth-of-type(4) {
    background-color: #8730db;
  }
}
