#fullpage {
  div:nth-of-type(1) {
    background-color: #45942a;
  }

  div:nth-of-type(2) {
    background-color: #0197f6;
  }
  div:nth-of-type(3) {
    background-color: #bf4e30;
  }
  div:nth-of-type(4) {
    background-color: #57467b;
  }
}
