/* Style for the game container */
.game-container {
  display: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Style for the game canvas */
canvas {
  border: 2px solid #fff;
}

/* Style for the paddles */
.paddle {
  width: 10px;
  height: 100px;
  background-color: #fff;
}

/* Style for the ball */
.ball {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%; /* Make the ball a circle */
}

/* Style for the scores */
.score {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
