<div class="d-flex justify-content-center container-fluid flex-wrap" id="container">
  <div *ngFor="let card of cards" class=" d-flex align-items-center justify-content-center" id="grid-item">
    <fa-icon [icon]="card.icon" id="grid-icon"></fa-icon>
    <a [attr.href]="card.link" class="d-flex flex-column align-items-center justify-content-center" id="hover">

      <div class="bg-white p-2 d-flex flex-column align-items-center justify-content-center h-100 w-100 "
        id="grid-title">

        <div id="title">{{card.name}}
          <div class="card-underline mb-2"></div>
        </div>
        <p id="description">
          {{card.description}}
        </p>
      </div>

    </a>

  </div>
</div>