#fullpage {
  div:nth-of-type(1) {
    background: rgb(69, 148, 42);
  }

  div:nth-of-type(2) {
    background: rgb(1, 151, 246);
  }
  // div:nth-of-type(3) {
  //   background: rgb(87, 70, 123) 95%;
  // }
  div:nth-of-type(3) {
    background-color: rgba(191, 78, 48, 1);
  }
}
