<nav class="navbar  navbar-expand-lg sticky-top px-6" id="navigation">
  <div class="container-fluid d-flex justify-content-center align-items-center">

    <div class="d-flex justify-content-center align-items-center">
      <h3 class="text-white d-flex  align-items-center">
        <a class="nav-link text-white" href="/#">
          <img alt="nn" id="nn" src="../../../assets/nn.png">
          Tim Le Large
        </a>
      </h3>

      <button aria-controls="sections" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler btn"
        data-bs-target="#sections" data-bs-toggle="collapse" id="nav-toggler" type="button">

        <h3>
          <fa-icon [icon]="faBars" class="navbar-toggler-icon text-white bg-opacity-100"></fa-icon>
        </h3>
      </button>
    </div>


    <div class="collapse navbar-collapse  flex-d justify-content-end " id="sections">


      <ul class="navbar-nav " id="section-list">
        <li class="nav-item btn" data-menuanchor="profile">
          <a class="nav-link text-white" href="/#profile">
            <h5>Home</h5>
          </a>
        </li>
        <li class="nav-item btn" data-menuanchor="projects">
          <a class="nav-link text-white" href="/#projects">
            <h5>Projects</h5>
          </a>
        </li>

        <li class="nav-item btn" data-menuanchor="playground">
          <a class="nav-link text-white" href="/#playground">
            <h5>Playground</h5>
          </a>
        </li>
        <li class="nav-item btn" data-menuanchor="contact">
          <a class="nav-link text-white" href="/#contact">
            <h5>Contact</h5>
          </a>
        </li>

      </ul>


    </div>
  </div>


</nav>